{{template "header" }}


<p style="color:#fff; font-size:0.85em; background:#000; margin:0; padding:2px 0 2px 3px;"> ${{.LoginText}}</p>

<div class="tilebox">


{{if .Login}}
<div class="tile">
<div class="liner">
<form action="/newentry" method="post">
<input type="text" name="Title" placeholder="Title"></input><br>
<input type="text" name="Namespace" placeholder="Namespace"></input><br>
<input type="checkbox" id="publicradio" name="Public" value="0">Public</input><br>
<textarea type="text" name="Text" placeholder="Text"></textarea>
<br>
<button type="submit">SEND</button></form>
</div>
</div>
{{end}}


<div class="tile">
<table class="borderfull">
{{range $.Articles}}
<tr class="borderfull">
  <th class="borderfull">{{.ArticleNamespace}}</th>
  <th class="borderfull"><a href="/p/{{.Url}}"><b>#{{.Articletitle}}</b><a></th>
  <th class="borderfull">{{.ArticleText}}</th>
</tr>
{{end}}
</table>
</div>


<div class="tile">
{{.Geldlog}}
</div>

</div>








{{if not .Login}}
<script language="JavaScript">
expireAt = new Date;
expireAt.setMonth(expireAt.getMonth() + 1);
password = "";

function cockie() {
     if(event.keyCode == 13) {
       password = document.passform.password.value
       document.cookie = "pwd=" + password + ";expires=" + expireAt.toGMTString() + ";path=/"
       window.location.href = "/desk/"

     }}

$(document).ready(function() {
$('#form').submit(function () {
          event.preventDefault();
          window.location.href = "/desk/"
});});

</script>
<form name="passform" id="form" >
  <input type="password" placeholder="ENTER PASSWORD" id="searchbar" name="password" onkeydown="cockie()"></input>
</form>
{{end}}

{{template "footer" .}}
