{{template "header" }}


<p style="color:#fff; font-size:120; background:#000;"> ${{.LoginText}}</p>

{{if .Login}}
<div class="liner">
<form action="/newentry" method="post">
<input type="text" name="Title">Title</input><br>
<input type="text" name="Namespace">Namespace</input><br> 
<textarea type="text" name="Text">Text</textarea> 
<br>
<button type="submit">SEND</button></form>
</div>
{{end}}






{{range $.Articles}}
<article>
<a href="/p/{{.Articletitle}}">#{{.Articletitle}}<a>
<h1>{{.Articletitle}}</h1>
{{.ArticleText}}<br>
</article>
{{end}}






<script language="JavaScript">
expireAt = new Date;
expireAt.setMonth(expireAt.getMonth() + 1);
password = "";

function makeCookie()
{
password = document.passform.password.value
document.cookie = "pwd=" + password + ";expires=" + expireAt.toGMTString() + ";path=/"
}

</script>

<form name="passform">
<P>Password: <input type="text" name="password"><br>
<a href="/" onclick="makeCookie()">continue ...</a></p>
</form>

</article>

{{template "footer" .}}
