{{define "footer"}}
</div>
<footer>
	<div class="fancybutton">
		Hotkey
	</div>
	<br>
	<a href="/">Foo</a>
</footer>

<div id="HotkeyModalContainer" class="modal">
	<div id="HotkeyModal"  class="modal-box">
		<span id="HotkeyModalClose" class="ModalClose">&times;</span>
		<div id="HotkeyModalContent" class="modal-content">
			<table class="fancytable">
				<tr class="borderfull">
					<td>Escape</td>
					<td>Escape</td>
				</tr>
				<tr class="borderfull">
					<td>Space</td>
					<td>Suche</td>
				</tr>
				<tr class="borderfull">
					<td>P</td>
					<td>Password</td>
				</tr>
			</table>
		</div>
	</div>
</div>

</body>
</html>
{{.Body}}{{end}}
