{{define "header"}}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Wiki</title>
	<link rel="stylesheet" href="/static/main.css">
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="#000">

	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/favicon/manifest.json">
	<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#000000">
	<link rel="shortcut icon" href="/static/favicon/favicon.ico">
	<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
	 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=
	 sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f
	 sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
	 crossorigin="anonymous"></script>

	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha256-1A78rJEdiWTzco6qdn3igTBv9VupN3Q1ozZNTR4WE/Y=" crossorigin="anonymous"></script>



	 <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js" integrity="sha256-u6BamZiW5tCemje2nrteKC2KoLIKX9lKPSpvCkOhamw=" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js" integrity="sha256-x4ioj4Ml0BqGJWXqHZVljtkzcsm1wHYSD71Boze2cks=" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.min.js" integrity="sha256-cWzRia+bxBCmFQv+ZjhTVz95Q5VcDIQAWiiZvaRBDeQ=" crossorigin="anonymous"></script>

	 <script src="/static/dev.js"></script>
	 <script src="/static/search.js"></script>
	 <script src="/static/PwdManager.js"></script>
	 <script src="/static/show-hide-loding.js"></script>
	 <script src="/static/hotkey.js"></script>
	 <script src="/static/AddManager.js"></script>


</head>
<body>

<header>

<div id="header1" class="headerbox">
	<div class="close_button" style="display: none;">X</div>
	<span id="clickscroll" style="display: block;"><a href="/desk/">
	<span class="head_icon">#</span>WIKI</a></span>
<button class="go" id="go_button" style="display: block;">GO</button><!--type="submit"-->

<form class="goto" id="goto_form" action="/s/" method="get" style="visibility: hidden; display: none; opacity: 0; transition: opacity 500ms;">

<input id="goto" placeholder="Go To" name="goto" value="" />
<button class="go" id="g_" type="submit">GO</button>

</form>
<div id="afterGO">


<!--<button class="m_function_button mfb" id="editbutton" style="background-color: blue; color: yellow; visibility: visible;">EDIT</button>-->




<div class="menue-button">≡</div>

<ul id="menue">
<li><a href="/project/" title="Project">Project</a></li>
<li><a id="PwdManagerTrigger" title="PwdManager">PwdManager</a></li>
<li><a id="AddManager">AddManager</a></li>
<li><i class="fa header_icon fa-cog" id="header_option_gear" aria-hidden="true"></i></li>

</ul>

</div>
</div>



</header>
<!-- SPACER IS PART OF HEADER!!! -->
<div class="settingsinpage" id="settingsinpage"></div>
<div class="settingsinpage quickaddpage" id="quickaddpage"></div>
<div id="spacer" style="height:50px;"></div>


<div id="DefaultModalContainer" class="modal">
	<div id="DefaultModal"  class="modal-box">
		<span id="DefaultModalClose" class="ModalClose">&times;</span>
		<div id="DefaultModalContent" class="modal-content"></div>
	</div>
</div>

<div id="contcenter">
{{.Body}}{{end}}
