{{define "header"}}
<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Your Website</title>
	<link rel="stylesheet" href="/static/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">



<script>
function search(ele) {
    if(event.keyCode == 13) {
        window.location.href = "/s/" + ele.value;

    }
}
</script>

</head>
<body>

<header>
  <input type="text" placeholder="some text" id="searchbar" onkeydown="search(this)"/>
  <nav> <a href="/link1.html">Link1</a> <a href="/link1.html">Link1</a> <a href="/link1.html">Link1</a> <a href="/link1.html">Link1</a> <a href="/link1.html">Link1</a> </nav>
</header>

{{.Body}}{{end}}

