html, body {
  background: #000;
  color: #00ab00;
}

a:link, a:visited {
    color: #ff9d00;
    text-decoration: underline;
    cursor: auto;
}


footer{
  background: #171717;
}

footer a{
    background: #171717;
}

.desk-status{
  background: #4c4c4c;
}

#header1{
  border-bottom: 1px solid #fff;
}

.tile{
  border: 1px solid green;
}


.modal-content{
  background: #000;
  color: #00ab00;
}
