/*MAYER CSS RESET*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*i5heu CSS RESET*/
input:focus,select:focus,textarea:focus,button:focus{outline: none;}




/*-------------------------------\
----- GLOBAL ---- FORMATIONS -----
\-------------------------------*/

html{
  word-wrap: break-word;
  font-size:100%;
 line-height:1.20em;
 font-family: "Liberation Sans";
}

code {
  margin:2px;
  font-size:80%;
  font-weight:normal;
  color:#111;
  display:inline-block;
  border:1px solid #ddd;
  padding:0 2px 0 2px;
  background-color:#eee;
  white-space: pre;}


hr {
  border:0;
  border-bottom: 1px solid #bbb;
  height: 20px;}

h1 {
  font-size:1.0em;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  border-left:1px solid #bbb;
  border-right:1px solid #bbb;
  padding:2px 0 2px 3px;
  margin:55px 10px 15px 3px;
  background-color:#eee;
  font-weight: bold;}

h2 {
  display: block;
  font-size:0.8em;
  color:#555;
  margin:40px 10px 15px 5px;
  border-bottom:1px solid #999;
  padding:0 0 3px 0;
  font-weight: bold;}
article h2::before { content: "-> "; }
article h2::after { content: " <-"; }

h3 {
  font-size:1.3em;
  color:#333;
  margin:15px 0 16px 30px;
}



h4 {
  font-size: 28px;
  margin: 5px;
  color: #210B61;
}

h7 {
  font-size: 28px;
  margin: 5px 0 30px 5px;
  color: #210B61;
}

p {
  margin: 10px  0 15px 0;
}

blockquote {
  display: block;
  font-size:94%;
  border-radius:8px;
  padding:15px 6px 15px 10px;
  border: 2px solid #888;
  border-left:5px solid #888;
  border-right:5px solid #888;
  background-color:#eee;
  margin:25px 5px 25px 7px;
  line-height:140%;
}


img, video { /*Mobil full widht and Desktop perfect Size*/
  max-width:400px;
  width:90vw;
  min-width:10px;}

textinput { radius:0; }

.flexparent {
  display:flex;
  flex-wrap: wrap;
  margin-top: 3px;
  word-wrap: break-word;
}

.paddingright10 {
  padding-right: 10px;
}

@media screen and (max-width: 500px) {
  .paddingright10{  padding-right: 30px;}
}



/*##################################################
######################## BEGIN #####################
###################################################*/

/*Fork this Template on Github: https://github.com/i5heu/15-lines-template/tree/master */
:root {--header-height:35px;}
html,body {
  margin:0;
  padding:0;}

/*EFFEKT ALL ITEMS OF TYPE*/
input, textarea{
  background: #eee;
  border:0;
  border-radius: 3px;
  padding: 3px;
  margin:1px;
}


/*NORMAL*/




  header {
    z-index:20000;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    font-family:Arial, Helvetica, sans-serif;}

  .headerbox { /*CONTAINER*/
    font-size:16px;
    line-height:var(--header-height);
    display:flex;
    flex-flow:row;
    height:var(--header-height);
    background-color:#000;
    width:100%;
    padding:0;
    margin:0;
    display:flex;}


nav {
display:flex;
flex-wrap: wrap;
align-items:stretch;
height:inherit;
padding:0;
margin:0;}
@media screen and (max-width: 500px) {
  nav {display:none;}
}

nav a{
line-height:var(--header-height);
text-decoration:none;
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-weight:bold;
font-size:13px;
text-transform: uppercase;
color:#fff;
padding:0 8px 0 8px;}

nav a:hover {
color:red;
background:#333;
transition: all 1s ease; }

article{
margin: 0 auto 100px auto;
padding:20px;
max-width:600px;
border-left: 1px solid black;}

article h1{
font-family:"Courier New", Courier, monospace;
font-size:125%;
padding: 4px;
margin: 10px 0 20px 0;
color:#000;
background:#eee;
border-bottom:1px solid black;
border-top:1px solid black;
font-weight: bold;}

article h1::before {
    content: "> ";
}



footer, footer a{
min-height:100px;
color:#fff;
margin-top:100px;
padding:15px;
background:#424242;
text-align:center;
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-weight:bold;
text-transform: uppercase;
text-decoration:none;}

img, video{
max-width:100%;
margin:5px 0 5px 0;}

pre{
background:#191919;
color:#0f0;
padding:5px 5px 5px 8px;
white-space: pre-wrap;}
/*//////////////////////////////////////////////////////*/
#searchbar{
  height:calc(100%-3px);
  padding:2px;
  margin:0;
  width:25%;
  max-width: 150px;
  border:0;
  border-radius: 0;
}


#contcenter{
  padding: 3px ;
  padding-top: 0;
}


.liner input,.liner textarea{
  width:95%;
  margin:10px 0 0 10px;
}

.liner textarea{
  min-height:100px;
  max-width: 95%;
}

.borderfull{
  border: 1px solid black;
  margin:0;
  padding: 0;
}


.tilebox{
  display:flex;
  flex-wrap: wrap;
  margin-top: 3px;
  word-wrap: break-word;

}

.tile {
  width: 100%;
  height: 100%;
  min-width: 350px;
  min-height: 350px;
  max-width: 350px;
  max-height: 350px;
  overflow:auto;
  border:1px solid black;
  padding: 3px;
  word-wrap: break-word;
}

.small{ font-size: 80%;}

.lightgreybackgorund {
  background-color: #e6e6e6;
}

.tablelight{
  background: #fff;
}

.tabledark{
  background: #e6e6e6;
}

.fancytable{
  text-align: left;
  border: 1px solid black;
  margin:0;
  padding: 0;
}


.fancytable th{
  color:#fff;
  background: #000;
  padding-bottom: 5px;
}


.fancytable tr td{
  padding:2px;
}

.fancybutton{
  display:inline;
  float: left;
  color:#000;
  padding: 5px;
  background: #e6e6e6;
  border-radius: 8px;
}

/*############## AUS WIKI @ HOME #######################*/


/*########################\
|### Header and childs ###|
\########################*/
header {
  z-index:20000;
  --header-height:35px;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  font-family:Arial, Helvetica, sans-serif}

.headerbox { /*CONTAINER*/
  font-size:16px;
  line-height:var(--header-height);
  display:flex;
  flex-flow:row;
  height:var(--header-height);
  background-color:#000;
  width:100%;
  padding:0;
  margin:0;
  display:flex;}

#clickscroll { /*LOGO*/
  padding: 0 0px 0 0;
  min-width:55px;
  margin: 0 0 0 0;
  height:100%;
  color:#fff;
  font-weight:bold;
  cursor:pointer;}

#clickscroll a {
  padding:8px;
  margin-left:0;
  background:#000;}

#goto_form {
  display:flex;
  width:100%;
  max-width:calc(100% - 55px);
  margin:0 auto 0 55px;
  padding:0;}

#goto_form ::selection {
    color: #fff;
    background: black;
}

.go {
  height:100%;
  padding:0 15px;
  margin:0 auto 0 0;
  border:0;
  background-color:#003a71;
  color:#fafafa;}

#goto{
  width:100%;
  max-width:300px;
  font-size:1em;
  height:100%;
  padding:0;
  padding-left:5px;
  margin:0;
  border:0;
  background-color:rgba(22, 93, 162, 0.28);
  color:#fafafa;}

#afterGO { /*CONTAINER*/
  display:flex;
  width:auto;
  padding-right:3px;}

header a{
  background:#1767b5 ;
  padding:0 5px 0 5px;
  color:#fff;
  margin:0 3px 0 3px;
  text-decoration:none;
  transition: background 0.6s;}
header a:hover{background:#17b552;}

header input:focus{outline: none;}

.header_icon {
  font-size:20px;
  margin:auto 3px;
  cursor:pointer;}
.header_icon:hover {
  color:black; transition: color 0.5s;
  text-shadow: 2px 2px 3px #fff; transition: text-shadow 0.5s;}
@media screen and (max-width: 900px) { /*BEGIN @MEDIA*/
  .header_icon {margin:auto;}
}


/*---EDIT-BUTTON---*/
.m_function_button {
   height:inherit;
   position:relative;
   display:flex;
   padding:0 15px;
   left:-8px;
   border:0;
   background-color:#143c78;
   color:#fafafa;}
.m_function_button:hover {background-color:#000 !important; color:#fff !important;}

/*--------------------\
HEADER DROPDOWN AND UL
\--------------------*/

header ul {
  list-style-type: none;
  display:flex;
  margin:0 9px 0 5px;
  padding:0;
  overflow:hidden;
  color:#fff;
  font-weight:bold;
  z-index:20100;
}

header li {display:inline; margin-left:6px;}

#menue li a{
  text-decoration:none;
  color:#fff;
  background:inherit;
  transition: color 0.5s;}
#menue li a:hover{color:red;}

header .menue-button {display:none; visibility:hidden;}

.close_button {
  display:none;
  position:fixed;
  z-index:20100;
  left:0;
  top:0;
  font-size:18px;
  background:black;
  color:#fff;
  height:var(--header-height);
  padding:auto;
  text-align:center;
  width:55px;
  cursor:pointer;
}


/*------ MENEU BUTTON - MOBILE---- */
@media screen and (max-width: 900px) { /*BEGIN @MEDIA*/

header .menue-button {
  margin:0 9px 0 auto;
  padding:2px 0 0 10px;
  float:right;
  font-size:35px;
  color:#fff;
  border-left:1px solid #bbb;
  display:flex;
  visibility:visible;}
header .menue-button:hover {cursor:pointer;color:#ffcc00;}

header ul li{
  display:flex;
  margin: 0 20px 0 20px;
  padding: 9px 0 9px 0;
  text-align:center;
  border-bottom:1px solid #bbb;
  font-weight:bold;}

header ul {
  display:none;
  position:absolute;
  top:35px;
  right:0;
  z-index:20100;
  margin:0;
  float:none;
  line-height:20px;
  overflow:visible;
  background-color:#000;
  color:#fff;}

}/*END @MEDIA*/


/* ############################### SEARCH ##########################*/

.SearchFlexChild{
  max-height: 40vh;
  min-width: 100%;
  width: 100%;
  overflow: auto;
  border:1px solid black;
}




.editform textarea{
  min-height: 80vh;
}


/* ########################## MODAL #################################### */

.modal{
display: none;
position: fixed;
z-index: 100;
left:0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
color:black;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.2);
}

.modal-box{
  width: 80%;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(300,300,300,0.7),0 6px 20px 0 rgba(300,300,300,0.7);

}

.modal-content{
  padding-top: 20px;
}

/* MODAL Close */
.ModalClose {
    color: black;
    float: right;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 100%;
}

.ModalClose:hover,
.ModalClose:focus {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

/*---------------- PROJECT ------------------*/
.ProjectTableDark{ background: #dbdbdb;}
.ProjectTableBright {background: #fff;}
