/*MAYER CSS RESET*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}






/*Fork this Template on Github: https://github.com/i5heu/15-lines-template/tree/master */
:root {--header-height:35px;}
html,body {
  margin:0;
  padding:0;}




  header {
    z-index:20000;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    font-family:Arial, Helvetica, sans-serif}

  .headerbox { /*CONTAINER*/
    font-size:16px;
    line-height:var(--header-height);
    display:flex;
    flex-flow:row;
    height:var(--header-height);
    background-color:#000;
    width:100%;
    padding:0;
    margin:0;
    display:flex;}


nav {
display:flex;
flex-wrap: wrap;
align-items:stretch;
height:inherit;
padding:0;
margin:0;}
@media screen and (max-width: 500px) {
  nav {display:none;}
}

nav a{
line-height:var(--header-height);
text-decoration:none;
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-weight:bold;
font-size:13px;
text-transform: uppercase;
color:#fff;
padding:0 8px 0 8px;}

nav a:hover {
color:#64ffda;
background:#333;
transition: all 1s ease; }

article, .liner {
margin: 0 auto 100px auto;
padding:5px;
max-width:600px;
font-family:Arial, Helvetica, sans-serif;
border-left: 1px solid black;}

article h1{
font-family:"Courier New", Courier, monospace;
font-size:150%;
padding: 0 0 0 5px;
margin-bottom: 20px;
color:#fff;
background:#000;
border-bottom:1px solid black;
border-left:1px solid black;}

footer, footer a{
min-height:100px;
color:#fff;
margin-top:100px;
padding:15px;
background:#424242;
text-align:center;
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-weight:bold;
text-transform: uppercase;
text-decoration:none;}

img, video{
max-width:100%;
margin:5px 0 5px 0;}

pre{
background:#191919;
color:#0f0;
padding:5px 5px 5px 8px;
white-space: pre-wrap;}
/*//////////////////////////////////////////////////////*/
#searchbar{
  height:calc(100%-3px);
  padding:0;
  margin:0;
  width:25%;
  max-width: 150px;
}

.liner input,.liner textarea{
  width:90%;
  min-width:150px;
  max-width:600px;
  margin:10px 0 0 0;
}

.liner textarea{
  min-height:100px;
}

.borderfull{
  border: 1px solid black;
  margin:0;
  padding: 0;
}
